body{background-color: white;}
body h1 {font-family: monospace;
        font-size: 0.5cm;
        text-align: center;
        padding-top: 3em;
        font-style: inherit;
        background-color: purple;}
body form {text-align:center;
            padding-top: 2em;
        font-size: medium;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: inherit;
        background-color: orangered;}
body button {background-color: yellow;}
img {width: 20%;
    margin-left: 10%;}
